:root {
    --background: #0F0F0F;
    --principal: #82370e; 
    --secondary: #DE725C;
    --text: #F2F1F1;
}


.about{
    min-height: 10vh;
    min-width: 100vw;

    position: relative;

}

.highlight{
    color: var(--principal);
}

#canvas{
    width: 100vw;
    height: 100vh;

    background-color: transparent;

    top: 0;
    left: 0;
    position: fixed;

    z-index: 1;
}

.flash{
    width: 1vw;
    height: 2vh;

    background-color: white;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    border-radius: 50%;

    z-index: 50;

    opacity: 0;
}

.about--info{
    min-height: 80vh;
    min-width: 100vw;

    position: relative;
    
    z-index: 1;
}

.info--container{
    font-family: "Nixie One";
    color: var(--text);

    font-size: 18px;

    max-width: 25vw;

    margin: auto;
}

.info--flex--container--1{
    display: flex;
    flex-direction: row;
    position: relative;

    justify-content: space-evenly;
}

.info--container--img{
    max-height: 50vh;
    
    margin: 10vh auto 0vh auto;
}

.info--flex--container--2{
    position: relative;

    margin:  30vh 0;
    max-width: 100vw;
    height: fit-content;
}

.quote--container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--principal);

    font-size: 100px;
}

.letters-right{
    text-align: right;
}

/*
------------------------------RESPONSIVE------------------------------
*/
@media (max-width: 1024px) {
    .info--container--img{
        max-height: 30vh;
    }
    .info--container{
        font-size: 24px;
    
        max-width: 25vw;
    }
}
@media (max-width: 770px) {
    .info--flex--container--1{
        flex-direction: column;
        padding-bottom: 10vh;
    }
    .info--container--img{

    margin: 5vh auto 5vh auto;
    }
    .info--container{
        font-size: 32px;
    
        max-width: 70vw;
    }
}
@media (max-width: 425px) {
    .info--container{
        font-size: 24px;
    }
    .quote--container{
        font-size: 72px;
    }
}