:root {
    --background: #0F0F0F;
    --principal: #82370e; 
    --secondary: #DE725C;
    --text: #F2F1F1;

    overflow-x: hidden;
}

/*
font-family: "Abril Fatface";
font-family: "Nothing you could do";
font-family: "Nixie One";
*/

body{
    overflow-x: hidden;
    max-width: 100vw;

    background-color: var(--background);


    margin: 0;
    padding: 0;
}

.navbar{
    min-width: 100vw;
    min-height: 5vh;

    padding: 2vh 0;

    z-index: 99;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--background);
}

.navbar--page{
    background-color: var(--principal);
    position: fixed;

    min-height: 91vh;
    min-width: 100vw;

    bottom: 0;
    left: 0;

    z-index: 99;
}

.navbar--container{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
    color: var(--background);
}

.navbar--header{
    font-size: 72px;
    font-family: "Abril Fatface";
    text-align: center;
    margin: 5vh 0;

    transition: linear .5s;
}

.navbar--image{
    width: 10vw;

    position: absolute;

    opacity: 0;

    transition: ease-in-out .2s;

}

.navbar--header:hover a{
    cursor: pointer;

    color: var(--secondary);
    font-family: "Nothing you could do";
}


.navbar--header:hover .navbar--image{
    opacity: 1;
}

.name--tag{
    font-family: "Nothing you could do";

    font-size: 36px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: linear .2s;
}

.name--tag a{
    color: var(--principal);
}

.name--tag:hover a{
    cursor: pointer;
    color: #DE725C;
}

.nav--icon{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);

    font-family: "Nixie One";
    font-size: 50px;

    color: var(--principal);

    transition: linear .2s;
}

.nav--icon:hover{
    cursor: pointer;
    color: var(--secondary);
}

/*
------------------CONTACT------------------------------------------------
*/

.contact{
    min-height: 100vh;
    min-width: 100vw;

    height: fit-content;

    position: relative;
}

.text--container{
    max-width: 50vw;
    height: 100vh;

    margin: 0vh 5vw;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;

    margin-bottom: 10vh;
}

.contact--title{
    font-family: "Abril Fatface";
    font-size: 21.75vw;

    margin: 0vh -5.5vw;

    z-index: -1;

    color: var(--principal);
}

.contact--subtitle{
    font-family: "Nothing you could do";
    font-size: 36px;

    color: var(--principal);
}

.contact--info a{
    font-family: "Nixie One";
    font-size: 48px;

    color: var(--text);

    transition: .2s linear;
}

.contact--info a:hover{
    cursor: pointer;
    color: var(--secondary);
}


.contact--image{
    object-fit:cover;

    width: 20vw;

    max-height: 50vh;

}

.contact--image--container{
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
}

.footer{
    display: flex;

    justify-content: space-between;
    flex-direction: row;
    position: relative;

    margin-top: 5vh;
}

.footer div{
    color: var(--text);

    font-family: "Nixie One";
    font-size: 16px;

    margin: 1vh 5vw;

}

.footer div a{
    color: var(--principal);
    transition: .2s linear;
}

.footer div a:hover{
    color: var(--secondary);
    cursor: pointer;
}

/*
------------------------------RESPONSIVE------------------------------
*/
@media (max-width: 1440px) {
    .contact--image{
        width: 20vw;
        max-height: 50vh;
    }
}
@media (max-width: 1024px) {
    .contact--image{
        width: 20vw;
        max-height: 15vh;
    }
    .contact--image--container{
        top: 40%;
        right: 10%;
        transform: translate(-10%, -40%);
    }
}
@media (max-width: 770px) {
    .contact--image{
        width: 50vw;
    
        max-height: 27.5vh;
    }
    
    .contact--image--container{
        position: absolute;
        top: 20%;
        right: 0%;
        transform: translate(-50%, -0%);
    }

    .contact--info a{
        font-size: 36px;
    }

    .contact--title{
        margin-top: 500px;
    }
}
@media (max-width: 600px) {
    .contact{
        padding-top: 35vh;
    }

    .contact--image--container{
        top: 50%;
        left: 45%;
        transform: translate(-39%, -60%);
    }

    .contact--image{
        width: 70vw;

        max-height: 45vh;
    }

    .contact--info a{
        font-size: 28px;
    }
}
@media (max-width: 425px) {
    .contact{
        padding-top: 30vh;
    }
    .contact--image{
        width: 80vw;

        max-height: 45vh;
    }
    .contact--image--container{
        top: 50%;
        left: 45%;
        transform: translate(-39%, -60%);

        width: 90vw;
    }

    .contact--info a{
        font-size: 20px;
    }

    .footer div{
        font-size: 10px;
    }
}
@media (max-width: 375px) {
    .contact--info a{
        font-size: 18px;
    }
}